.box {
	background: #0e90d2;
	padding: 1em;
	color: white;
}

.box a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: white;
}

.title {
	font-size: 3em;
}

.date {
	font-size: 1.2em;
}

.box span {
	display: block;
}

.blue {
	background: #0e90d2;
}

.green {
	background: #1abc9c;
}

.red {
	background: #d9534f;
}

.light-blue {
	background: #5bc0de;
}

.dark {
	background: #34495e;
}
