<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<link rel="stylesheet" href="/static/pure-min.css" />
		<link rel="stylesheet" href="/static/style.css" />
		<title>Wireless Ad Hoc Distributer</title>
	</head>
	<body>
		<form enctype="multipart/form-data" class="pure-form pure-form-stacked" action="/admin" method="post">
			<input type="file" name="ipa_file">
			<button type="submit" class="pure-button pure-button-primary">上传</button>
		</form>
	</body>
</html>
