<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
                <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>{{ archive_url }}</string>
                </dict>
				{% if locals().get('display_image_url', None) %}
                <dict>
                   <key>kind</key>
                   <string>display-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>{{ display_image_url }}</string>
                </dict>
				{% end %}
				{% if locals().get('full_size_image_url', None) %}
                <dict>
                   <key>kind</key>
                   <string>full-size-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>{{ full_size_image_url }}</string>
                </dict>
				{% end %}
           </array>
           <key>metadata</key>
           <dict>
               <key>bundle-identifier</key>
               <string>{{ identifier }}</string>
               <key>bundle-version</key>
               <string>{{ version }}</string>
               <key>kind</key>
               <string>software</string>
               <key>subtitle</key>
               <string>{{ subtitle }}</string>
               <key>title</key>
               <string>{{ title }}</string>
           </dict>
       </dict>
   </array>
</dict>
</plist>
